@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SchoolManagementSystem.Data.Models
@using SchoolManagementSystem.Data.Models.IdentityModels
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Scholario</title>
    <link rel="icon" href="~/scholario_icon.png" type="image/png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/SchoolManagementSystem.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-header">
                    <!-- App Icon and Title Group -->
                    <div class="logo-title-group">
                        <a class="navbar-brand" href="/">
                            <img src="~/scholario_icon.png" alt="App Icon" style="height: 40px; width: auto; margin-right: 10px;">
                            Scholario
                        </a>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.Identity is { IsAuthenticated: false })
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-house-door"></i> @Localizer["Home"]
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/School/Schools">
                                <i class="bi bi-mortarboard"></i> @Localizer["Schools"]
                            </a>
                        </li>
                    }

                    @if (User.IsInRole(nameof(Student)))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        if (user is { IsAuthenticated: true })
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Student/Dashboard">
                                    <i class="bi bi-house-door"></i> @Localizer["Dashboard"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/School/Schools">
                                    <i class="bi bi-mortarboard"></i> @Localizer["Schools"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Student/Grades">
                                    <i class="bi bi-journal"></i> @Localizer["Grades"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Student/Projects">
                                    <i class="bi bi-briefcase"></i> @Localizer["Projects"]
                                </a>
                            </li>
                        }
                    }

                    @if (User.IsInRole(nameof(Teacher)))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        if (user is { IsAuthenticated: true })
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Teacher/Dashboard">
                                    <i class="bi bi-house-door"></i> @Localizer["Dashboard"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/School/Schools">
                                    <i class="bi bi-mortarboard"></i> @Localizer["Schools"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Teacher/GradesDashboard">
                                    <i class="bi bi-journal"></i> @Localizer["Grades"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Teacher/Scoreboard">
                                    <i class="bi bi-table"></i> @Localizer["Scoreboard"]
                                </a>
                            </li>
                        }
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        if (user is { IsAuthenticated: true })
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Admin" asp-action="Index">
                                    <i class="bi bi-house-door"></i> @Localizer["Dashboard"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="AdminStudents" asp-action="StudentsList">
                                    <i class="bi bi-person"></i> @Localizer["Students"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="AdminTeachers" asp-action="TeachersList">
                                    <i class="bi bi-mortarboard"></i> @Localizer["Teachers"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="AdminSchools" asp-action="SchoolsList">
                                    <i class="bi bi-book"></i> @Localizer["Schools"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="AdminProjects" asp-action="SchoolsList">
                                    <i class="bi bi-briefcase"></i> @Localizer["Projects"]
                                </a>
                            </li>
                        }
                    }
                </ul>
                <partial name="_LoginPartial"/>

                <div class="vr mx-2"></div> <!-- Vertical separator -->

                <div class="language-switcher">          
                    @await Component.InvokeAsync("LanguageSwitcher")
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>