@using Microsoft.AspNetCore.Identity
@using SchoolManagementSystem.Data.Models.IdentityModels
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@Localizer["Hello"], @user.FirstName!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark hover-bg-danger">@Localizer["Logout"]</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">@Localizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
        </li>
    }
</ul>

<style>
    .hover-bg-danger:hover {
        background-color: #dc3545; /* Bootstrap 'danger' color */
        color: white; /* Optional: changes text color on hover */
    }
</style>